{%extends 'master.html'%}
{%block content%}


<div class= "container">
<br>


<style>
body {
  background-repeat:no-repat;
  background-attachment:fixed;
  background-size:cover;
  
}
</style>
</head>


<div class="position-relative overflow-hidden p-300 p-md-300 m-md-300">
  <div class="col-md-300 p-lg-350 mx-auto my-300">
    <div class="bg-image" 
       style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/89.jpg');
       height: 100vh">
       
      <center>
       <font size="6" color="#FFFFFF">Lets Go and Fill all the information of the Finale year group students and also detaile of project includeing tiltle and supervisor detail</font>
       <br><font size="9" color="#00008B">About</font></br>
       <font size="4" color="#00008B">The whole FYP is a year-long process involving groups of students and their supervisors to accomplish a theme based project. ... Project supervisors will also be able to employ the system for keep tracking the progress of the projects with the use of the project management tools, and online chat function.</font>
      

       
      </br>
      <br><a class="btn btn-outline-secondary" href="{{url_for('form')}}"> Get Started</a></center></br>
    </center>
</div>
</div>
</div>

</br>
</div>
{%endblock%}

