{%extends 'master.html'%}
{%block content%}
<div class= "container">
    
</style>
<div class="container px-4 px-lg-5 h-100">
   <div class="position-relative overflow-hidden p-15 p-md-15 m-md-15 text-center bg-light">
      <div class="col-md-15 p-lg-15 mx-auto my-15">
        <div class="bg-image" 
           style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/0.jpg');
           height: 100vh">

   <h2 style="color:rgb(5, 5, 5);">All Project Information</h2>
   <a class="btn btn-outline-secondary" href="{{url_for('form')}}"> Create New Group</a>

   <table id="t01">
      <thead>
         <tr>
            
            <th>Group Leader</th>
            <th>Name of University</th>
            <th>Name of Department</th>
            <th>Head of Department</th>
            <th>Project Supervisor</th>
            <th>No of Group Members</th>
            <th>Program of Study</th>
            <th>Project Title</th>
            <th>Project Description</th>
            <th>Action</th>
            
         </tr>
        
      </thead>

      <tbody>
         {% for stud in data %}
         <tr>
            <td>{{ stud.groupleader }}</td>
            <td>{{ stud.institution }}</td>
            <td>{{ stud.nameofdp }}</td>
            <td>{{ stud.headofdp }}</td>
            <td>{{ stud.psupervisor }}</td>
            <td>{{ stud.npfgroupmembers }}</td>
            <td>{{ stud.pgmofstudy }}</td>
            <td>{{ stud.ptitle }}</td>
            <td>{{ stud.pdiscription }}</td>    
            <td><a class="btn btn-success " href="/update/{{stud.sno}}">update</a>,<br> <a  class="btn btn-danger" href="/delete/{{stud.sno}}">delete</a></br></td>
            
            
         </tr>
        

         {% endfor %}
      </tbody>
   </table>


</div>
</div>
</div>
</div>
</div>
   {%endblock%}
